*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

html,body{
    width: 100%;
    height:100%;
    overflow-x: hidden;
}

.codystar-light {
    font-family: "Codystar", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .codystar-regular {
    font-family: "Codystar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

#main{
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/animation/2023/03/19/02/34/02-34-11-741_512.gif);
}

#navbar{
    height: 18%;
    width: 100%;
    background-color: black;
    color: white;
    
}

#loop {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    font-size: 20px;
    opacity: 0.5;
  
    animation: 
      typing 3.5s ease forwards,
      growFade 3.5s ease forwards;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  
  @keyframes growFade {
    from {
      
      opacity: 0.5;
    }
    to {
      
      opacity: 1;
    }
  }

  #row1{
    width: 100%;
    height: 40%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    
  }

  #row2{
    width: 100%;
    height: 40%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    
  }

  .app{
    height: 80%;
    width: 60%;
    color: rgb(252, 252, 252);
    border: 2px white solid;
    border-radius: 20px;
    background-color: rgb(58, 53, 53);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

 

  .app:hover{
    color: rgb(0, 0, 0);
    border: 2px white solid;
    border-radius: 20px;
    background-color: rgb(255, 241, 241);
    opacity: 1;
    cursor: pointer;
    height: 83%;
    width: 65%;
    transition: all 0.5s;

  }

  .col1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #footer{
    height: 30%;
    width: 100%;
    background-color: black;
    text-decoration: none;
  }

  .marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 15s linear infinite;
    font-size: 24px;
    font-weight: bold;
    white-space:nowrap;
  
  }

  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    animation: pulse 1s infinite;
  }
  
  /* Animation */
  @keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
  }
  .circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }  

  